<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide></ion-menu-button>
    </ion-buttons>
    <ion-title>Conducting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" *ngIf="conducting | async | keyvalue as months;">
    <ng-container *ngFor="let month of months | sort: 'value.sortIndex'; trackBy: trackById;">
      <ion-item-divider *ngIf="month.key !== 'id'" padding-top>
        <ion-label text-capitalize>
          {{month.key}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngIf="month.key !== 'id'" (click)="presentOptions(month.value, month.key)" class="pointer-highlight">
        <ion-avatar *ngIf="month.value.member?.photoURL" slot="start" [style.width.px]="30" [style.height.px]="30">
          <img [src]="month.value.member?.photoURL">
        </ion-avatar>
        <ion-icon *ngIf="!month.value.member?.photoURL" slot="start" color="primary" name="contact"></ion-icon>
        <ion-label>
          <span *ngIf="month.value.member as member">{{member.displayName}}</span>
          <ion-note *ngIf="!month.value.member"><i>Add Member...</i></ion-note>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
