<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!todo.id">New Todo</ion-title>
    <ion-title *ngIf="todo.id">Update</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="close()" [disabled]="todoForm.invalid" (click)="createTodo()">
        <strong>Done</strong>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="todoForm" (ngSubmit)="createTodo()" *ngIf="users | async as items;">
    <ion-item>
      <ion-select interface="popover" placeholder="Select user..." formControlName="uid" style="min-width: 100%;">
        <ion-select-option *ngFor="let user of items" [value]="user.uid">{{user.displayName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label position="floating">Details</ion-label>
      <ion-textarea rows="6" formControlName="content" [color]="todoForm.controls.color.value"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Type/Color</ion-label>
      <ion-select formControlName="color" interface="popover">
        <ion-select-option value="dark">General/Black</ion-select-option>
        <ion-select-option value="done">Bishopric/Brown</ion-select-option>
        <ion-select-option value="primary">Elders/Blue</ion-select-option>
        <ion-select-option value="danger">Primary/Red</ion-select-option>
        <ion-select-option value="tertiary">YW/Purple</ion-select-option>
        <ion-select-option value="success">YM/Green</ion-select-option>
        <ion-select-option value="warning">RS/Yellow</ion-select-option>
        <ion-select-option value="secondary">SS/Teal</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-list lines="none">
        <ion-radio-group formControlName="status">
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio slot="start" value="pending" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Complete</ion-label>
            <ion-radio slot="start" value="complete"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    
    <!-- <ion-button margin-top [disabled]="todoForm.invalid" type="submit">{{todo.id ? 'Update!' : 'Create'}}</ion-button> -->
  </form>
</ion-content>