<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!todo.id">Create New Todo</ion-title>
    <ion-title *ngIf="todo.id">Update</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="todoForm" (ngSubmit)="createTodo()" *ngIf="users | async as items;">
    <ion-item>
      <ion-label>Who?</ion-label>
      <ion-select interface="popover" formControlName="uid">
        <ion-select-option *ngFor="let user of items" [value]="user.uid">{{user.displayName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label position="floating">Details</ion-label>
      <ion-textarea rows="6" formControlName="content" [color]="todoForm.controls.color.value"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Text Color</ion-label>
      <ion-select formControlName="color" interface="popover">
        <ion-select-option value="dark">Black</ion-select-option>
        <ion-select-option value="primary">Blue</ion-select-option>
        <ion-select-option value="danger">Red</ion-select-option>
        <ion-select-option value="tertiary">Purple</ion-select-option>
        <ion-select-option value="success">Green</ion-select-option>
        <ion-select-option value="warning">Yellow</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-list lines="none">
        <ion-radio-group formControlName="status">
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio slot="start" value="pending" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Complete</ion-label>
            <ion-radio slot="start" value="complete"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    
    <ion-button margin-top [disabled]="todoForm.invalid" type="submit">{{todo.id ? 'Update!' : 'Create'}}</ion-button>
  </form>
</ion-content>