<ion-list lines="full" no-padding>
  <ion-item (click)="presentFilter('month')" class="pointer-highlight">
    <ion-label>
      Switch Month
    </ion-label>
  </ion-item>
  <ion-item (click)="presentFilter('year')" class="pointer-highlight">
    <ion-label>
      Switch Year
    </ion-label>
  </ion-item>
  <!-- <ion-item (click)="presentAnnouncements()" class="pointer-highlight">
    <ion-label>
      Announcements
    </ion-label>
  </ion-item> -->
  <!-- <ion-item lines="full" (click)="addMeeting()" class="pointer-highlight">
    <ion-label>
      Add Meeting
    </ion-label>
  </ion-item> -->
  <ion-item (click)="createCalendarYear()" class="pointer-highlight">
    <ion-label>
      Add Calendar Year
    </ion-label>
  </ion-item>
</ion-list>