<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Attendance</ion-title> -->
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="submitAttendance()" [disabled]="attendanceForm.invalid" color="primary">
        <strong>Done</strong>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="attendanceForm" (ngSubmit)="submitAttendance()">
    <ion-item>
      <label>Date</label>
      <ion-datetime formControlName="date" display-format="MMM DD, YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="total" placeholder="Count"></ion-input>
    </ion-item>
    <!-- <ion-button type="submit" margin-top>Submit</ion-button> -->
  </form>
</ion-content>