<ion-list lines="full" no-padding>
  <ion-item class="pointer-highlight" (click)="presentMembers('speakers')" *ngIf="!sacrament.meetingOptions?.isTestimonyMeeting && !isConference()">
    <ion-label>Add Speaker</ion-label>
    <ion-icon name="microphone" slot="start"></ion-icon>
  </ion-item> 
  <ion-item class="pointer-highlight" (click)="presentTopic()" *ngIf="!isConference()">
    <ion-label>{{sacrament.topic ? 'Edit' : 'Add'}} Topic</ion-label>
    <ion-icon name="list-box" slot="start"></ion-icon>
  </ion-item>
  <ion-item class="pointer-highlight" (click)="presentMeetingOptions()">
    <ion-label>Meeting Type</ion-label>
    <ion-icon name="settings" slot="start"></ion-icon>
  </ion-item>
  <ion-item class="pointer-highlight" (click)="warnRemoval()">
    <ion-label color="danger">Remove</ion-label>
    <ion-icon color="danger" name="trash" slot="start"></ion-icon>
  </ion-item>
</ion-list>