// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** toolbar **/
  --ion-toolbar-background: #f8f8f8;
}

.toolbar-background {
  background: var(--ion-toolbar-background, #f8f8f8);
}

.ion-color-sky {
  --ion-color-sky: #f7faff;
  --ion-color-light-rgb: 248,251,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d9dce0;
  --ion-color-light-tint: #f8fbff;
}

.ion-color-done {
  --ion-color-base: #9f0800;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #8c0700;
  --ion-color-tint: #a9211a;
}

.ion-color-setApart {
  --ion-color-base: #d500c3;
  --ion-color-base-rgb: 213,0,195;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #bb00ac;
  --ion-color-tint: #d91ac9;
}

.ion-color-accepted {
  --ion-color-base: #3880ff;
  --ion-color-base-rgb: 56,128,255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #3171e0;
  --ion-color-tint: #4c8dff;
}

.ion-color-sustain {
  --ion-color-base: #9e49d5;
  --ion-color-base-rgb: 158,73,213;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #8b40bb;
  --ion-color-tint: #a85bd9;
}

.ion-color-release {
  --ion-color-base: #0bdcf5;
  --ion-color-base-rgb: 11,220,245;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0ac2d8;
  --ion-color-tint: #23e0f6;
}

.ion-color-waiting {
  --ion-color-base: #f8ac48;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #da973f;
  --ion-color-tint: #f9b45a;
}

.ion-color-goRelease {
  --ion-color-base: #0ba649;
  --ion-color-base-rgb: 11,166,73;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0a9240;
  --ion-color-tint: #23af5b;
}

.ion-color-go {
  --ion-color-base: #19f124;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #16d420;
  --ion-color-tint: #30f23a;
}

.ion-color-recommended {
  --ion-color-base: #ff0d05;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e00b04;
  --ion-color-tint: #ff251e;
}

.ion-color-pendRelease {
  --ion-color-base: #e2c900;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #c7b100;
  --ion-color-tint: #e5ce1a;
}

.ion-color-pending {
  --ion-color-base: #fff404;
  --ion-color-base-rgb: 159,8,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #e0d704;
  --ion-color-tint: #fff51d;
}

.ion-color-vacant {
  --ion-color-base: #989aa2;
  --ion-color-base-rgb: 152,154,162;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #86888f;
  --ion-color-tint: #a2a4ab;
}

.pointer-highlight:hover {
  cursor: pointer;
}

mark {
  color: var(--ion-color-primary);
  background-color: white !important;
}

.agenda-options .popover-content {
  width: 150px;
}

.app-icon {
  display: flex; 
  margin-right: 5px;

  ion-img {
    margin: 0 5px; 
    // border-radius: 5px; 
    width: 35px; 
    height: 35px;
    // box-shadow: 0 0 4px 0 #333;
  }
}

.calling-names .popover-content {
  width: 300px;
  
  ion-label {
    white-space: normal;
  }
}

.can-go-back ion-menu-button[can-hide] {
  display: none;
}