<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-capitalize>{{month}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentOptions($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let sacrament of sacraments | async; trackBy: trackById;">
    <ion-card-header padding-horizontal>
      <ion-card-title>
        {{sacrament.date | date: 'MMMM d'}}
        <ion-button float-right fill="clear" color="secondary" (click)="presentMenu($event, sacrament)">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-card-title>
      <ion-card-subtitle *ngIf="!isConference(sacrament)">{{sacrament.topic}}</ion-card-subtitle>
      <ion-note *ngIf="!isConference(sacrament) && (conducting$ | async)?.member as member">Conducting: {{member.displayName}}</ion-note>
    </ion-card-header>
    <ion-card-content *ngIf="isConference(sacrament)">
      <h1 *ngIf="sacrament.meetingOptions.isGeneralConference">General Conference</h1>
      <h1 *ngIf="sacrament.meetingOptions.isStakeConference">Stake Conference</h1>
      <h1 *ngIf="sacrament.meetingOptions.isTempleDedication">Temple Dedication</h1>
    </ion-card-content>
    <ng-container *ngIf="!isConference(sacrament)">
      <ion-item *ngIf="sacrament.conducting">
        <ion-label>
          <h2>Conducting</h2>
          <p text-wrap></p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="presentHymn(sacrament, 'openingHymn')" class="pointer-highlight">
        <ion-label>
          <h2>Opening Hymn</h2>
          <p text-wrap *ngIf="sacrament.openingHymn">#{{sacrament.openingHymn.number}} {{sacrament.openingHymn.name}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="presentMembers(sacrament, 'invocation')" class="pointer-highlight">
        <ion-label>
          <h2>Invocation</h2>
          <p *ngIf="sacrament.invocation">{{sacrament.invocation.givenNames}} {{sacrament.invocation.familyName}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="presentHymn(sacrament, 'sacramentalHymn')" class="pointer-highlight">
        <ion-label>
          <h2>Sacramental Hymn</h2>
          <p text-wrap *ngIf="sacrament.sacramentalHymn">#{{sacrament.sacramentalHymn.number}} {{sacrament.sacramentalHymn.name}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" *ngIf="sacrament.meetingOptions?.isTestimonyMeeting">
        <ion-label><h2>Testimonies</h2></ion-label>
      </ion-item>
      <ion-list>
        <ion-reorder-group disabled="false" (ionItemReorder)="speakerReorder($event, sacrament)">
          <ion-item lines="full" *ngFor="let speaker of sacrament.speakers; let i = index;" (click)="presentMembers(sacrament, 'speakers', i)" class="pointer-highlight">
            <ion-label>
              <h2>Speaker</h2>
              <p *ngIf="speaker">{{speaker.givenNames}} {{speaker.familyName}}</p>
            </ion-label>
            <ion-button fill="clear" color="medium" (click)="deleteSpeaker(sacrament, i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
      <ion-item lines="full" (click)="presentHymn(sacrament, 'closingHymn')" class="pointer-highlight">
        <ion-label>
          <h2>Closing Hymn</h2>
          <p text-wrap *ngIf="sacrament.closingHymn">#{{sacrament.closingHymn.number}} {{sacrament.closingHymn.name}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="presentMembers(sacrament, 'benediction')" class="pointer-highlight">
        <ion-label>
          <h2>Benediction</h2>
          <p *ngIf="sacrament.benediction">{{sacrament.benediction.givenNames}} {{sacrament.benediction.familyName}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-card>
</ion-content>
