<ion-app>
  <ion-split-pane>
    <ion-menu [hidden]="!profile?.uid">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Bishopric Tools
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="profile?.uid">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="showRoute(p)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item  *ngIf="profile?.uid" margin-top lines="none" router-direction="root" [routerLink]="['/profile', profile.uid]">
          <ion-avatar slot="start" [style.width.px]="30" [style.height.px]="30">
            <img [src]="profile?.photoURL">
          </ion-avatar>
          <ion-label color="medium">
              My Profile
          </ion-label>
        </ion-item>
      </ion-content>
      <ion-footer padding>
        <a routerDirection="root" [routerLink]="'/privacy-policy'" style="text-decoration: none;">Privacy Policy</a>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>