<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button can-hide></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchText" placeholder="Search" *ngIf="!getReorder() && !getDeleteMode()"></ion-searchbar>
    <ion-select interface="popover" (ionChange)="statusChange($event)" *ngIf="!orgId" slot="end" [value]="getCallingStatus()">
      <ion-select-option *ngFor="let status of callingStatuses" [value]="status">{{getStatus(status)}}</ion-select-option>
    </ion-select>
    <ion-buttons slot="end" *ngIf="orgId">
      <ion-button (click)="presentOptions($event)" *ngIf="!getDeleteMode() && !getReorder()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
      <ion-button color="primary" *ngIf="getReorder()" (click)="setReorder(false)">Done</ion-button>
      <ion-button color="primary" *ngIf="getDeleteMode()" (click)="setDeleteMode(false)">Done</ion-button>
      <ion-button color="danger" *ngIf="getDeleteMode()" (click)="removeCallings()" [disabled]="!getSelection().length">Remove</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngIf="platform.is('desktop')" lines="full" no-padding>
    <ng-container *ngIf="callings | async as items; else loading;">
      <ion-reorder-group [disabled]="!getReorder()" (ionItemReorder)="callingReorder($event, items)">
        <ion-item *ngFor="let calling of items; trackBy: trackById; let i = index;" [color]="calling.$$checked ? 'light' : null">
          <ion-reorder slot="start"></ion-reorder>
          <ion-checkbox *ngIf="getDeleteMode()" [(ngModel)]="calling.$$checked" (ionChange)="setSelection($event, calling, i)"></ion-checkbox>
          <calling-item [calling]="calling" margin-end></calling-item>
          <ion-buttons>
            <ion-button slot="end" (click)="presentMembers(calling)" color="medium">
              <ion-icon name="{{calling.member ? 'create' : 'person-add'}}"></ion-icon>
            </ion-button>
            <ion-button slot="end" (click)="deleteMemberFromCalling(calling)" color="medium" [attr.disabled]="!calling.member ? '' : null">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-reorder-group>
      <ion-item lines="none" *ngIf="!items.length">
        No&nbsp;
        <ion-text [color]="getCallingStatus()"><i><strong>&quot;{{getStatus(getCallingStatus())}}&quot;</strong></i></ion-text>
        &nbsp;callings&hellip;
      </ion-item>
    </ng-container>
    <ng-template #loading>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-template>
  </ion-list> -->
  <ion-list lines="full" no-padding>
    <ng-container *ngIf="(callings | async | calling : searchText) as items; else loading;">
      <ion-reorder-group [disabled]="!getReorder()" (ionItemReorder)="callingReorder($event, items)">
        <ion-item-sliding [disabled]="platform.is('desktop')" #slidingItem *ngFor="let calling of items; trackBy: trackById; let i = index;">
          <ion-item
            class="border-left"
            (click)="presentActionSheet($event, calling)"
            [class.done]="calling.status.name === 'done'"
            [class.setApart]="calling.status.name === 'setApart'"
            [class.accepted]="calling.status.name === 'accepted'"
            [class.sustain]="calling.status.name === 'sustain'"
            [class.release]="calling.status.name === 'release'"
            [class.waiting]="calling.status.name === 'waiting'"
            [class.goRelease]="calling.status.name === 'goRelease'"
            [class.go]="calling.status.name === 'go'"
            [class.recommended]="calling.status.name === 'recommended'"
            [class.pendRelease]="calling.status.name === 'pendRelease'"
            [class.pending]="calling.status.name === 'pending'"
            [color]="calling.$$checked ? 'light' : ''">
            <ion-reorder slot="start"></ion-reorder>
            <ion-checkbox slot="start" *ngIf="getDeleteMode()" [(ngModel)]="calling.$$checked" (click)="$event.stopPropagation()" (ionChange)="setSelection($event, calling, i)"></ion-checkbox>
            <calling-item [calling]="calling" [search]="searchText"></calling-item>
            <ion-buttons *ngIf="platform.is('desktop')">
              <ion-button (click)="$event.stopPropagation();presentMembers(calling);" color="medium">
                <ion-icon name="{{calling.member ? 'create' : 'person-add'}}"></ion-icon>
              </ion-button>
              <ion-button color="medium" (click)="$event.stopPropagation();presentNotes(calling);">
                <ion-icon name="clipboard"></ion-icon>
              </ion-button>
              <ion-button (click)="$event.stopPropagation();copyCalling(calling, items, i, null);" color="medium">
                <ion-icon name="copy"></ion-icon>
              </ion-button>
              <ion-button (click)="$event.stopPropagation();deleteMemberFromCalling(calling);" color="medium" [attr.disabled]="!calling.member ? '' : null">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item *ngIf="calling.$adding">
            <ion-label>
              <ion-skeleton-text animated style="width: 50%; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="warning" (click)="presentNotes(calling, slidingItem)">
              <ion-icon slot="icon-only" size="large" name="clipboard"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option (click)="$event.stopPropagation();presentMembers(calling, slidingItem);">
              <ion-icon slot="icon-only" size="large" name="{{calling.member ? 'create' : 'person-add'}}"></ion-icon>
            </ion-item-option>
            <ion-item-option color="success" (click)="$event.stopPropagation();copyCalling(calling, items, i, slidingItem);">
              <ion-icon slot="icon-only" size="large" name="copy"></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="calling.member" (click)="$event.stopPropagation();deleteMemberFromCalling(calling, slidingItem);" color="danger" [attr.disabled]="!calling.member ? '' : null">
              <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
      <ion-item lines="none" *ngIf="!items.length && !orgId">
        No&nbsp;
        <ion-text [color]="getCallingStatus()"><i><strong>&quot;{{getStatus(getCallingStatus())}}&quot;</strong></i></ion-text>
        &nbsp;callings&hellip;
      </ion-item>
    </ng-container>
    <ng-template #loading>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-template>
  </ion-list>
</ion-content>
