<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment>
      <ion-segment-button value="complete">Bishop</ion-segment-button>
      <ion-segment-button value="pending">1st</ion-segment-button>
      <ion-segment-button>2nd</ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="list | async as items;">
  <ion-list>
    <ng-container *ngFor="let interview of items; trackBy: trackById; let i = index;">
      <ion-item-divider sticky *ngIf='i === 0 || (items[i - 1] && !sameDay(interview.date, items[i - 1].date))'>
        <ion-label><h2>{{interview.date | date: 'EEEE, MMMM d'}}</h2></ion-label>
      </ion-item-divider>
      <ion-item-sliding [disabled]="platform.is('desktop')">
        <ion-item color="{{getStatusColor(interview.status)}}" lines="full" class="pointer-highlight" (click)="interviewDetails(interview)">
          <ion-label>
            <h1>{{interview.member.givenNames}} {{interview.member.familyName}}</h1>
            <h3>
              <span *ngIf="interview.duration !== 'allDay'">
                {{interview.date | date: 'h:mm a'}}
                <span *ngIf="interview.duration !== '0'"> - {{getDateRange(interview) | date: 'h:mm a'}}</span>
              </span>&nbsp;
              <span>{{interview.date | date: 'EEEE, MMMM d'}}</span>
            </h3>
            <p>{{interview.details}}</p>
          </ion-label>  
          <ion-button *ngIf="platform.is('desktop')" slot="end" fill="clear" color="medium" (click)="deleteInterview($event, interview)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item-options *ngIf="!platform.is('desktop')">
          <ion-item-option color="danger" (click)="deleteInterview($event, interview)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentInterview()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
